body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;

  /* background-color: #24305e; */
  background-color: rgb(15, 22, 36);

}
h2 {
  font-size: 2rem;
  font-family: "League Spartan", sans-serif;
  /* color: #1a2239; */
  color: #f76c6c;
  margin-bottom: 10vh;
}

.prj-1 .prj-2 .prj-3 {
  opacity: 0;
}
.prj-1 .prj-2 .prj-3 :active {
  opacity: 1;
}
.stackused {
  margin-top: 1vh;
}
.hire_me button {
  margin-top: 2vh;
  height: 5vh;
  width: 40%;
  outline: none;
  border: none;
  font-family: "Roboto", sans-serif;

  cursor: pointer;
}
.hire_me a {
  color: #24305e;
  font-weight: bold;
}
footer{
  display: flex;

  width: 90%;
  align-items: center;
  justify-content: center;
  height: 20vh;
  margin-top: 10vh;
  font-family: "Roboto", sans-serif;
  font-size: small;
  
}
.skills{
  margin-top: 40vh;
  display: flex;
  flex-direction:column;
  margin-left: 10vw;

}
.myskills{
  font-size: 2rem;
  font-family: "League Spartan", sans-serif;
  /* color: white; */
  color: #f76c6c;
  
  margin-bottom: 5vh;
}
.text-d{
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #F8E9A1;
}
.Languageandtools{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  margin-bottom: 3vh;
  margin-top: 3vh;
}
.contact{
  margin-top: 20vh;
  height: 200vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  justify-content: center;
  align-items: center;
  background: url('Frame 1 (4).png') no-repeat;

  
 
  

  

}
.contact form{
  margin-top: 10vh;
  height: 70vh;
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  
}
.contact form label{
  color: black;
  font-family: "Roboto", sans-serif;
  margin-left: 3vw;
  margin-top: 3vh;
  font-size: 1.5rem;
 
  
}
 form  input{
  width: 70%;
  margin-left: 3vw;
  margin-top: 4vh;
  min-height: 7vh;
  border-radius: 5px;
  outline: none;
  border: 2px solid #24305e;
 }
 form textarea{
  border-radius: 5px;
  min-height: 20vh;
  place-content: start;
  width: 70%;
  margin-left: 3vw;
  margin-top: 4vh;
  outline: none;
  border: 2px solid #24305e;
  font-family: "Roboto", sans-serif;
 }
 form .submit{
  width: 20%;
  min-height: 5vh;
  margin-left: 13vw;
  outline: none;
  border: none;
  color: white;
  background-color: #24305e;
  border-radius: 2px;
  margin-top: 5vh;
  font-family: "Roboto", sans-serif;
  cursor: pointer;

 }
 .submit:active{
  transform: scale(1.01);
 }
 .connect{
  font-family: "League Spartan", sans-serif;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
 
  justify-content: center;
  flex-direction: column;
  height: 50vh;
 
 
 }
 .connect h3{
  font-size: 2rem;
  margin-top: 10vh;

 }
 .connect .s_con{
  font-size: 2rem;
  margin-top: 4vh;
  cursor: pointer;
  color: black;
 
 }
.c2 .c3 .c4{
  margin-left: 2vw;
}
.s_con{
  margin-top: 5vh;
}
#crt{
  color: black;
}
#preloader{
  background: #000 url('loading-load.gif') no-repeat center center;
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;

}
