body {
  display: flex;
  flex-direction: column;

  /* background-color: #24305e; */
  background-color: rgb(15, 22, 36);
  overflow-x: hidden;


}
h2 {
  font-size: 2rem;
  font-family: "League Spartan", sans-serif;
  /* color: #1a2239; */
  color: #f76c6c;
  margin-bottom: 10vh;
}



.hire_me button {
  margin-top: 2vh;
  height: 5vh;
  width: 40%;
  outline: none;
  border: none;
  font-family: "Roboto", sans-serif;

  cursor: pointer;
}
.hire_me a {
  color: rgb(15, 22, 36);
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}
footer{
  display: flex;

  width: 90%;
  align-items: center;
  justify-content: center;
  height: 20vh;
  margin-top: 10vh;
  font-family: "Roboto", sans-serif;
  font-size: small;
  
}
.skills{
  margin-top: 40vh;
  display: flex;
  flex-direction:column;
  margin-left: 10vw;

}
.myskills{
  font-size: 2rem;
  font-family: "League Spartan", sans-serif;
  /* color: white; */
  color: #f76c6c;
  
  margin-bottom: 5vh;
}
.text-d{
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #F8E9A1;
}
.Languageandtools{
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  display: flex;
  margin-bottom: 3vh;
  margin-top: 3vh;
}
.divisoncurve{
  background: url('vector.png') no-repeat;
  height: 10vh;
}
.contact{
  margin-top: 20vh;
  height: 200vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: left;
  justify-content: center;
  align-items: center;
  /* background: url('Frame 1 (4).png') no-repeat; */
  background: white;

  
 
  

  

}
.contact form{
  margin-top: 10vh;
  height: 70vh;
  width: 60%;
  background-color: white;
  display: flex;
  flex-direction: column;
  
}
.contact form label{
  color: black;
  font-family: "Roboto", sans-serif;
  margin-left: 3vw;
  margin-top: 3vh;
  font-size: 1.5rem;
 
  
}
 form  input{
  width: 70%;
  margin-left: 3vw;
  margin-top: 4vh;
  min-height: 7vh;
  border-radius: 5px;
  outline: none;
  border: 2px solid #24305e;
 }
 form textarea{
  border-radius: 5px;
  min-height: 20vh;
  place-content: start;
  width: 70%;
  margin-left: 3vw;
  margin-top: 4vh;
  outline: none;
  border: 2px solid #24305e;
  font-family: "Roboto", sans-serif;
 }
 form .submit{
  width: 20%;
  min-height: 5vh;
  margin-left: 13vw;
  outline: none;
  border: none;
  color: white;
  background-color: #24305e;
  border-radius: 2px;
  margin-top: 5vh;
  font-family: "Roboto", sans-serif;
  cursor: pointer;

 }
 .submit:active{
  transform: scale(1.01);
 }
 .connect{
  font-family: "League Spartan", sans-serif;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
 
  justify-content: center;
  flex-direction: column;
  height: 50vh;
 
 
 }
 .connect h3{
  font-size: 2rem;
  margin-top: 10vh;

 }
 .connect .s_con{
  font-size: 2rem;
  margin-top: 4vh;
  cursor: pointer;
  color: black;
 
 }
.c2 .c3 .c4{
  margin-left: 2vw;
}
.s_con{
  margin-top: 5vh;
}
#crt{
  color: black;
}
.projects{
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10vh;
}
.card_1 , .card_2{
  height: 80vh;
  width:25vw ;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "Roboto", sans-serif;
  
}
.card_1 p  , .card_2 p  {
  margin-left: 1vw;
   margin-top: 3vh;
}
.card_1 span  , .card_2 span 
{
  margin-left: 1vw; margin-top: 3vh;
}

.card_1 img , .card_2 img{
  border-radius: 5px;
  
  height: 200px;
  width: 100%;
}
.card_1 a , .card_2 a{
  color: blue;
}
@media  screen and (max-width:980px) {
  .projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   
  }
  .card_1 , .card_2{
    width: 80%;
    margin-top: 5vh;
    height: 60vh;
    text-align: left;
  }
  .card_1 span  , .card_2 span{
    max-width: 90%;
  }
  .card_1 p  , .card_2 p{
    max-width: 90%;
  }

}
.prj_he{
  font-size: 2rem;
  font-family: "League Spartan", sans-serif;
  /* color: white; */
  color: #f76c6c;
  display: block;
  margin-top: 5vh;
}