* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  display: block;
  margin-top: 3vh;
  height: 9vh;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
}
nav ul {
  display: flex;
  color: white;
}
li {
  margin-left: 3vw;
  list-style: none;
  cursor: pointer;
}
.center {
  margin-left: 15vw;
  font-family: "Roboto", sans-serif;
}
.end {
  margin-left: 20vw;
  font-size: 30px;
  text-decoration: none;
  margin-top: 2vh;
}
a {
  text-decoration: none;
  color: white;
}
.end .text {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.text:hover {
  letter-spacing: 1px;
}
@media screen and (max-width: 980px) {
  nav {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .center li {
    margin-left: 5vw;
    font-size: 1.2rem;
  }
  .end {
    display: none;
  }
  main {
    margin-top: -20vh;
  }
  .hero {
    display: flex;
    flex-direction: column;
    width: 90%;
    text-align: center;
  }
  .largel {
    font-size: 2rem;
  }
  .desil {
    font-size: 0.8rem;
  }
  button{
    height: 6vh;
    width: 60%;
  }
 .social{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5vh;
 }
 
 #sd{
  margin-left: -13vw;
 }
 .contact{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 }
  form{
  min-width: 90%;
 
 }
 form input textarea{
  min-width: 70%;
 }
 form .submit{
  min-width: 30%;
 }
 .connect h3{
  text-align: center;
 }
}
main {
  margin: 20vh 0 5vh 0vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.hero-illustration {
  margin-left: 10vw;
  position: relative;
  animation: floatBubble 1.5s infinite;
  animation-direction: alternate;

}

@keyframes floatBubble {
  from {
    top: 0;
    -webkit-animation-timing-function: ease-in;
  }

  to {
    top: 20px;
    -webkit-animation-timing-function: ease-out;
  }
}
.hero {
  display: flex;
}
.largel {
  font-size: 2.5rem;
  font-family: "League Spartan", sans-serif;
  /* color: #1a2239; */
  color: #f76c6c;
}
.desil {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  color: white;
}
.hero-text-content {
  margin-left: 10vw;
  margin-top: 8vh;
}
.projects {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  background:rgb(15, 22, 36);
  width: 100%;
  margin-left: 10vw;

}
.prj-1 {
  text-align: right;
 margin-right: 20vw;
  margin-bottom: 10vh;
  color: white;
}

.prj_h {
  font-size: 25px;
  font-family: "League Spartan", sans-serif;
  color: #F8E9A1;
}
.prj-1 p {
  font-family: "Roboto", sans-serif;
  margin-top: 3vh;
}
.prj-2 p {
  font-family: "Roboto", sans-serif;
  margin-top: 3vh;
  color: white;
}
.prj-2 {
  margin-bottom: 10vh;
}
.black{
  color: black;
}
.black-u{
  color: #f2f5f7;
}

